<div class="grid-item flexcol">
  <label class="grid-item" for="data.weight.value">Weight</label>
  <input class="grid-item" style="grid-column-end:span 1;" name="data.weight.value" type="number" value="{{data.weight.value}}" />
</div>

<div class="grid-item flexcol">
  <label class="grid-item" for="data.price.value">Price</label>
  <input class="grid-item" style="grid-column-end:span 1;" name="data.price.value" type="number" value="{{data.price.value}}" />
</div>

<div class="grid-item flexcol">
  <label class="grid-item" for="data.quantity.value">Quantity</label>
  <input class="grid-item" style="grid-column-end:span 1;" name="data.quantity.value" type="number"
    value="{{data.quantity.value}}" />
</div>

<div class="grid-item flexcol">
  <label class="grid-item" for="data.container.value">Container</label>
  <select class="grid-item" style="grid-column-end:span 1;" name="data.container.value">
    {{#select data.container.value}}
    <option value="carried">Carried</option>
    <option value="packed">Backpack</option>
    <option value="none">None</option>
    {{/select}}
  </select>
</div>

<div class="grid-item flexcol">
  <label for="data.equipped.value">Equipped</label>
  {{#if (eq data.container.value "carried")}}
  <input name="data.equipped.value" type="checkbox" {{checked data.equipped.value}} />
  {{else}}
  <span>not carried</span>
  {{/if}}
</div>
