<tr class="item" data-item-id="{{ this._id}}">
  <td class="item-image"><img src="{{this.img}}" title="{{this.name}}" width="24" height="24"/></td>
  <td class="item-name" style="flex-grow: 2;">{{this.name}}</td>
  {{#if (comp data.version "<" "2")}}
  <td>OLD WEAPON</td>
  {{/if}}
  {{#if (comp data.version ">=" "2")}}
  <td> {{this.data.location}}</td>
  <td> {{this.data.value}}</td>
  <td> {{this.data.max}}</td>
  <td> {{this.data.weight}}</td>
  
  
  {{/if}}
  <td>
    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
  </td>
</tr>