{{log this}}
<label class="grid-item" style="grid-column-end:span 1;" for="data.attributes.{{id}}.rating">{{id}}</label>
<select class="grid-item" style="grid-column-end:span 1;" name="data.attributes.{{id}}.rating">
	{{#select item.rating}}
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option>
    {{/select}}
    </select>
<div class="grid-item die">{{item.base_die}}</div>
