<tr class="item" data-item-id="{{ this._id}}">
  <td class="item-image"><img src="{{this.img}}" title="{{this.name}}" width="24" height="24" /></td>
  <td class="item-name" style="flex-grow: 2;">
    <input class="embedded-item-attribute" name={{concat this._id ".name" }} type="text" value="{{this.name}}" />
  </td>
  <td>
    <input class="embedded-item-attribute" size="2" name={{concat this._id ".data.quantity.value" }} type="number"
      value="{{this.data.quantity.value}}" />
  </td>
  <td>
    <input class="embedded-item-attribute" size="2" name={{concat this._id ".data.weight.value" }} type="number"
      value="{{this.data.weight.value}}" />
  </td>
  <td> {{math this.data.weight.value "*" this.data.quantity.value}}</td>
  {{> "systems/twilight2000v4/templates/actor/part/gear-controls.hbs" this}}
</tr>