<tr class="item" data-item-id="{{ this._id}}">
  <td class="item-image"><img src="{{this.img}}" title="{{this.name}}" height="24" /></td>
  <td class="item-name" style="flex-grow: 2;">{{this.name}}</td>

  <td>{{this.data.rof.value}}</td>

  <td> {{this.data.damage.value}}</td>
  <td> {{this.data.crit.value}}</td>
  <td> {{this.data.armor.value}}</td>
  <td> {{this.data.range.value}}</td>
  <td class="flexrow" style="flex-grow: 1;">
    <input class="embedded-item-attribute" size="3" name={{concat this._id ".data.mag.value" }} type="number"
      value="{{this.data.mag.value}}" />
    <span>/</span>
    <span>{{this.data.mag.max}}</span>
  </td>
  <td>
    <select class="embedded-item-attribute" name={{concat this._id ".data.rel.value" }}>
      {{#select this.data.rel.value}}
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
      <option value="D">D</option>
      <option value="F">F</option>
      <option value="-">-</option>
      {{/select}}
    </select>
  </td>
  <td> {{this.data.blast.value}}</td>
  <td> {{math this.data.weight.value "*" this.data.quantity.value}}</td>

  <td>
    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
  </td>
</tr>