<li class="item flexrow" data-item-id="{{ this._id}}">
  <div class="item-image"><img src="{{this.img}}" title="{{this.name}}" width="24" height="24"/></div>
  <h4 class="item-name" style="flex-grow: 3;">{{this.name}}</h4>
  {{#if (comp data.version "<" "2")}}
  <span style="flex: 3 1 0px;">OLD WEAPON</span>
  {{/if}}
  {{#if (comp data.version ">=" "2")}}
  <span style="flex: 1 1 0; text-align:center;">{{this.data.rof}}</span>
  <span style="flex: 1 1 0;text-align:center;"> {{this.data.damage}}</span>
  <span style="flex: 1 1 0;text-align:center;"> {{this.data.crit}}</span>
  <span style="flex: 1 1 0;text-align:center;"> {{this.data.armor}}</span>
  <span style="flex: 1 1 0;text-align:center;"> {{this.data.range}}</span>
  <span style="flex: 2 1 0;text-align:center;" class="flexrow"> 
    <span>{{this.data.mag.value}}</span>
    <span>/</span>
    <span>{{this.data.mag.max}}</span>
  </span>
  <span style="flex: 1 1 0;text-align:center;"> {{this.data.rel.value}}</span>
  <span style="flex: 1 1 0;text-align:center;"> {{this.data.blast}}</span>
  <span style="flex: 1 1 0;text-align:center;"> {{this.data.weight}}</span>
  
  {{/if}}
  <div class="item-controls" style="flex: 1 1 0;text-align:center;">
    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
  </div>
</li>