<tr class="item" data-item-id="{{ this._id}}">
  <td class="item-image"><img src="{{this.img}}" title="{{this.name}}" height="24" /></td>
  <td class="item-name" style="flex-grow: 2;">
    <a class="weapon-roll" data-weapon="{{this._id}}">{{this.name}}</a>
  </td>

  {{#if this.data.rof.hidden}}
  <td>-</td>
  {{else}}
  <td>{{this.data.rof.value}}</td>
  {{/if}}

  {{#if this.data.damage.hidden}}
  <td>-</td>
  {{else}}
  <td>{{this.data.damage.value}}</td>
  {{/if}}

  {{#if this.data.crit.hidden}}
  <td>-</td>
  {{else}}
  <td>{{this.data.crit.value}}</td>
  {{/if}}

  {{#if this.data.armor.hidden}}
  <td>-</td>
  {{else}}
  <td>{{this.data.armor.value}}</td>
  {{/if}}

  {{#if this.data.range.hidden}}
  <td>-</td>
  {{else}}
  <td>{{this.data.range.value}}</td>
  {{/if}}

  {{#if this.data.mag.hidden}}
  {{#if (eq this.data.type.value "grenade")}}
  <td class="flexrow" style="flex-grow: 1;">
    <input class="embedded-item-attribute" size="3" name={{concat this._id ".data.quantity.value" }} type="number"
      value="{{this.data.quantity.value}}" />
  </td>
  {{else}}
  <td>-</td>
  {{/if}}
  {{else}}
  <td class="flexrow" style="flex-grow: 1;">
    <input class="embedded-item-attribute" size="3" name={{concat this._id ".data.mag.value" }} type="number"
      value="{{this.data.mag.value}}" />
    <span>/</span>
    <span>{{this.data.mag.max}}</span>
  </td>
  {{/if}}

  {{#if this.data.rel.hidden}}
  <td>-</td>
  {{else}}
  <td>
    <select class="embedded-item-attribute" name={{concat this._id ".data.rel.value" }}>
      {{#select this.data.rel.value}}
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
      <option value="D">D</option>
      <option value="F">F</option>
      <option value="-">-</option>
      {{/select}}
    </select>
  </td>
  {{/if}}

  {{#if this.data.blast.hidden}}
  <td>-</td>
  {{else}}
  <td>{{this.data.blast.value}}</td>
  {{/if}}

  {{#if this.data.weight.hidden}}
  <td>-</td>
  {{else}}
  <td> {{math this.data.weight.value "*" this.data.quantity.value}}</td>
  {{/if}}

  {{> "systems/twilight2000v4/templates/actor/part/gear-controls.hbs" this}}
</tr>