<tr class="item" data-item-id="{{ this._id}}">
  <td class="item-image"><img src="{{this.img}}" title="{{this.name}}" width="24" height="24"/></td>
  <td class="item-name" style="flex-grow: 2;">{{this.name}}</td>
  {{#if (comp data.version "<" "2")}}
  <td>OLD WEAPON</td>
  {{/if}}
  {{#if (comp data.version ">=" "2")}}
  <td>{{this.data.attributes.rof}}</td>
  <td> {{this.data.attributes.damage}}</td>
  <td> {{this.data.attributes.crit}}</td>
  <td> {{this.data.attributes.armor}}</td>
  <td> {{this.data.attributes.range}}</td>
  <td class="flexrow" style="flex-grow: 2;"> 
    <span>{{this.data.attributes.mag.value}}</span>
    <span>/</span>
    <span>{{this.data.attributes.mag.max}}</span>
  </td>
  <td> {{this.data.attributes.rel.value}}</td>
  <td> {{this.data.attributes.blast}}</td>
  <td> {{this.data.weight}}</td>
  <td> {{this.data.quantity}}</td>
  
  {{/if}}
  <td>
    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
  </td>
</tr>
