<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
    </div>
  </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    {{#if this.owner}}
    <a class="item" data-tab="stats">Stats</a>
    <a class="item" data-tab="items">Items</a>
    {{/if}}
  </nav>
  {{!-- Sheet Body --}}
  <section class="sheet-body" style="padding-bottom:50px;">
    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      <div class="grid-container bio-grid">
        <div class="grid-item" style="grid-column-end:span 1;">
          Twilight 2000
        </div>
        {{#each data.bio as |bio id|}}
        <div class="grid-item" style="grid-column-end:span {{bio.size}};">
          <label for="data.bio.{{id}}.value">{{id}}</label><input name="data.bio.{{id}}.value" type="text"
            value="{{bio.value}}" />
        </div>
        {{/each}}
        <div class="grid-item subgrid" style="grid-column-end:span 1;">
          <div class="grid-item" style="grid-column-end:span 4;">Experience</div>
          {{#each data.experience as |value id|}}
          <label class="grid-item" style="grid-column-end:span 1;" for="data.experience.{{id}}">{{id}}</label>
          <input class="grid-item" style="grid-column-end:span 1;" name="data.experience.{{id}}" type="number"
            value="{{value}}" />
          {{/each}}
        </div>
      </div>
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
    {{#if this.owner}}
    {{!-- Skill Tab --}}
    <div class="tab stats" data-group="primary" data-tab="stats">
      <div class="grid-container stat-grid">
        {{#each data.attributes}}
        <div class="grid-item flexcol">
          {{> "systems/twilight2000v4/templates/actor/part/attribute-slot.hbs" this}}
          {{#each this.skills}}
          {{> "systems/twilight2000v4/templates/actor/part/skill-slot.hbs" this attribute=../this.rating}}
          {{/each}}
        </div>
        {{/each}}

        {{> "systems/twilight2000v4/templates/actor/part/resource-display.hbs" data.hits r_title="Damage"
        r_loc="data.hits"}}

        {{> "systems/twilight2000v4/templates/actor/part/resource-display.hbs" data.stress r_title="Stress"
        r_loc="data.stress"}}

        {{> "systems/twilight2000v4/templates/actor/part/morale-display.hbs" this}}

        <div class="grid-item armor-subgrid" style="grid-column-end:span 1;grid-row-end:span 2;">
          <div class="header_row flexrow" style="grid-column-end:span 2;"><span>Conditions</span></div>
          {{#each data.conditions as |value id|}}
          <label for="data.conditions.{{id}}">{{id}}</label>
          <input name="data.conditions.{{id}}" type="checkbox" {{checked value}} />
          {{/each}}
        </div>

        <div class="grid-item stats-subgrid" style="grid-column-end:span 1;">
          <div class="header_row flexrow" style="grid-column-end:span 2;"><span>Rads</span></div>
          <label class="grid-item" size="2" for="data.rads.temp">Temporary</label>
          <input class="grid-item" name="data.rads.temp" type="number" value="{{data.rads.temp}}" />
          <label class="grid-item" for="data.rads.permanent">Permanant</label>
          <input class="grid-item" size="2" name="data.rads.permanent" type="number" value="{{data.rads.permanent}}" />
        </div>

        {{> "systems/twilight2000v4/templates/actor/part/armor-display.hbs" actor}}

        <div class="grid-item flexcol item" style="grid-column-end:span 1;" data-item-id="{{ actor.primaryWeapon._id}}">
          {{#if actor.primaryWeapon}}
          <button class="item-edit" style="
                    background-image: url({{actor.primaryWeapon.img}});
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                    ">
          </button>
          {{else}}
          <div>No Weapon Equipped</div>
          {{/if}}
        </div>

      </div>
      <div class="grid-container health-grid">
        <div>
          <ol class="items-list">
            <li class="item flexrow item-header header_row" style="margin:0px;">
              <div class="item-image"></div>
              <div class="item-name">Injuries</div>
              <div class="item-controls">
                <a class="item-control item-create" title="Create item" data-type="injury"><i class="fas fa-plus"></i>
                  Add</a>
              </div>
            </li>
            {{#each actor.injuries as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
              <h4 class="item-name">{{item.name}}</h4>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ol>
        </div>
        <div>
          <ol class="items-list">
            <li class="item flexrow item-header header_row" style="margin:0px;">
              <div class="item-image"></div>
              <div class="item-name">Diseases</div>
              <div class="item-controls">
                <a class="item-control item-create" title="Create item" data-type="disease"><i class="fas fa-plus"></i>
                  Add</a>
              </div>
            </li>
            {{#each actor.diseases as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
              <h4 class="item-name">{{item.name}}</h4>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ol>
        </div>
        <div>
          <ol class="items-list" style="border: 1px solid black;">
            <li class="item flexrow item-header header_row" style="margin:0px;">
              <div class="item-image"></div>
              <div class="item-name">Specialties</div>
              <div class="item-controls">
                <a class="item-control item-create" title="Create item" data-type="specialty"><i
                    class="fas fa-plus"></i> Add</a>
              </div>
            </li>
            {{#each actor.specialties as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
              <h4 class="item-name">{{item.name}}</h4>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ol>
        </div>
      </div>
    </div>
    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      <div class="flexrow">
        <span>
          Carried:{{actor.weight.carried}}/{{actor.weight.max}}
        </span>
        <span>
          Packed:{{actor.weight.packed}}/{{actor.weight.max}}
        </span>
      </div>

      {{> "systems/twilight2000v4/templates/actor/part/weapon-list.hbs" this}}

      {{> "systems/twilight2000v4/templates/actor/part/armor-list.hbs" this}}

      {{> "systems/twilight2000v4/templates/actor/part/gear-list.hbs" this}}

    </div>
    {{/if}}
  </section>
</form>
