

<form class="{{cssClass}} flexcol" autocomplete="off">
  <head>
    <style>
      .sheet-header {
      max-height:100px;
      }
      .grid-item{
      padding:3px;
      }
      .bio-grid{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      grid-auto-rows: minmax(50px, auto);
      grid-auto-flow: dense;
      }
      .bio-grid .subgrid{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0px;
      grid-auto-rows: minmax(25px, auto);
      grid-auto-flow: dense;
      }
      .bio-grid .grid-item{
      border: 1px solid black;
      }
      .bio-grid .subgrid .grid-item{
      border: 1px solid grey;
      }
      .stat-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1px;
      grid-auto-rows: minmax(25px, auto);
      border: 1px solid black;
      background-color: black;
      }
      .stat-grid .sub-subgrid{
      display: grid;
      grid-template-columns: 4fr 2fr 1fr;
      gap: 0px;
      grid-auto-rows: minmax(25px, auto);
      grid-auto-flow: dense;
      }
      .stat-grid .grid-item{
        background: url(../ui/parchment.jpg) repeat;
      }
      .stat-grid .sub-subgrid .grid-item{
        overflow:hidden;
      }
      .combat-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3px;
      grid-auto-rows: minmax(25px, auto);
      }
      .combat-grid .grid-item{
      border: 1px solid black;
      }
      .combat-grid .armor-subgrid{
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 3px;
      grid-auto-rows: minmax(25px, auto);
      }
      .combat-grid .stats-subgrid{
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-auto-rows: minmax(25px, auto);
      }
      .combat-grid .stats-subgrid .grid-item{
      border: 0px none black;
      }
      
      .combat-grid.stats-subgrid.grid-item input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="time"]{
      border: 1px solid #7a7971;
      }
      .health-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3px;
      grid-auto-rows: minmax(25px, auto);
      }
      .health-grid ol {
      border: 1px solid black;
      }
      
      .weapon-grid {
        display: grid;
        grid-template-columns: 4fr repeat(12, 1fr);
        gap: 1px;
        grid-auto-rows: minmax(25px, auto);
        border: 1px solid black;
        background-color: black;
        overflow-x:scroll;
      }
      .weapon-grid .grid-item{
        background: url(../ui/parchment.jpg) repeat;
      }
    </style>
  </head>
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    </div>
  </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    {{#unless this.limited}}
    <a class="item" data-tab="stats">Stats</a>
    <a class="item" data-tab="items">Items</a>
    {{/unless}}
  </nav>
  {{!-- Sheet Body --}}
  <section class="sheet-body" style="padding-bottom:50px;">
    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      <div class="grid-container bio-grid">
        <div class="grid-item" style="grid-column-end:span 1;">
          Twilight 2000
        </div>
        {{#each data.bio as |bio id|}}
        <div class="grid-item" style="grid-column-end:span {{bio.size}};">
          <label for="data.bio.{{id}}.value">{{id}}</label><input name="data.bio.{{id}}.value" type="text" value="{{bio.value}}"/>
        </div>
        {{/each}}
        <div class="grid-item subgrid" style="grid-column-end:span 1;">
          <div class="grid-item" style="grid-column-end:span 4;">Experience</div>
          {{#each data.experience as |value id|}}
          <label class="grid-item" style="grid-column-end:span 1;" for="data.experience.{{id}}">{{id}}</label>
          <input class="grid-item" style="grid-column-end:span 1;" name="data.experience.{{id}}" type="number" value="{{value}}"/>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="tab stats" data-group="primary" data-tab="stats">
      <div class="grid-container stat-grid">
        <div class="grid-item sub-subgrid" style="grid-column:span 4;grid-row:1;"> Attributes &#38; Skills </div>
        {{#each data.attributes}}
        <div class="grid-item sub-subgrid" style="grid-column:{{math @index '+' 1}};grid-row:2;">
          {{> "systems/twilight2000v4/templates/actor/part/attribute-slot.hbs" this}}
        </div>
        {{#each this.skills}}
        <div class="grid-item sub-subgrid" style="grid-column:{{math @../index '+' 1}};grid-row:{{math @index '+' 3}};">
          {{> "systems/twilight2000v4/templates/actor/part/skill-slot.hbs" this attribute=../this.rating}}
        </div>
        {{/each}}
        {{/each}}
      </div>
      <ol class="items-list" style="border: 1px solid black;">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="item-name">Specialties</div>
          <div class="item-controls">
            <a class="item-control item-create" title="Create item" data-type="specialty"><i class="fas fa-plus"></i> Add</a>
          </div>
        </li>
        {{#each actor.specialties as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
          <h4 class="item-name">{{item.name}}</h4>
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>
      <div class="grid-container combat-grid">
        
        <div class="grid-item stats-subgrid" style="grid-column-end:span 1;grid-row-end:span 3;">
          <div style="grid-column-end:span 2;border-bottom: 1px solid black;"> Damage</div>
          <label class="grid-item" for="data.hits.value">Hits</label>
          <input class="grid-item" name="data.hits.value" type="number" value="{{data.hits.value}}"/>
          <label class="grid-item" for="data.hits.max">Hit Cap</label>
          <input class="grid-item" name="data.hits.max" type="number" value="{{data.hits.max}}"/>
        </div>
        
        <div class="grid-item stats-subgrid" style="grid-column-end:span 1;grid-row-end:span 3;">
          <div style="grid-column-end:span 2;border-bottom: 1px solid black;"> Stress</div>
          <label class="grid-item" for="data.stress.value">Stress</label>
          <input class="grid-item" name="data.stress.value" type="number" value="{{data.stress.value}}"/>
          <label class="grid-item" for="data.stress.max">Stress Cap</label>
          <input class="grid-item" name="data.stress.max" type="number" value="{{data.stress.max}}"/>
        </div>
        
        <div class="grid-item stats-subgrid" style="grid-column-end:span 1;grid-row-end:span 3;">
          <div style="grid-column-end:span 2;border-bottom: 1px solid black;"> Rads</div>
          <label class="grid-item" for="data.rads.temp">Temporary</label>
          <input class="grid-item" name="data.rads.temp" type="number" value="{{data.rads.temp}}"/>
          <label class="grid-item" for="data.rads.permanent">Permanant</label>
          <input class="grid-item" name="data.rads.permanent" type="number" value="{{data.rads.permanent}}"/>
        </div>
        
        <div class="grid-item stats-subgrid" style="grid-column-end:span 1;grid-row-end:span 3;">
          <div style="grid-column-end:span 2;border-bottom: 1px solid black;"><button class="rollable" data-roll="{{data.cuf.rating}}{{data.morale.rating}}">Morale</button></div>
          <label class="grid-item" for="data.cuf.rating">CUF</label>
          <select class="grid-item" name="data.cuf.rating">
            {{#select data.cuf.rating}}
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="F">F</option>
            {{/select}}
          </select>
          <label class="grid-item" for="data.morale.rating">Morale</label>
          <select class="grid-item" name="data.morale.rating">
            {{#select data.morale.rating}}
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="F">F</option>
            {{/select}}
          </select>
        </div>
        
        <div class="grid-item armor-subgrid" style="grid-column-end:span 1;grid-row-end:span 5;">
          <div style="grid-column-end:span 2;border-bottom: 1px solid black;"> Armor</div>
          {{#each data.armor as |value id|}}
          <label for="data.armor.{{id}}">{{id}}</label><input name="data.armor.{{id}}" type="number" value="{{value}}"/>
          {{/each}}
        </div>
        <div class="grid-item armor-subgrid" style="grid-column-end:span 1;grid-row-end:span 5;">
          <div style="grid-column-end:span 2;border-bottom: 1px solid black;"> Conditions</div>
          {{#each data.conditions as |value id|}}
          <label for="data.conditions.{{id}}">{{id}}</label>
          <input name="data.conditions.{{id}}" type="checkbox" {{checked value}}/>
          {{/each}}
        </div>
        
      </div>
      <div class="grid-container health-grid">
        <div>
          <ol class="items-list">
            <li class="item flexrow item-header">
              <div class="item-image"></div>
              <div class="item-name">Critical Injuries</div>
              <div class="item-controls">
                <a class="item-control item-create" title="Create item" data-type="injury"><i class="fas fa-plus"></i> Add</a>
              </div>
            </li>
            {{#each actor.injuries as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
              <h4 class="item-name">{{item.name}}</h4>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ol>
        </div>
        <div>
          <ol class="items-list">
            <li class="item flexrow item-header">
              <div class="item-image"></div>
              <div class="item-name">Diseases</div>
              <div class="item-controls">
                <a class="item-control item-create" title="Create item" data-type="disease"><i class="fas fa-plus"></i> Add</a>
              </div>
            </li>
            {{#each actor.diseases as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
              <h4 class="item-name">{{item.name}}</h4>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ol>
        </div>
      </div>
    </div>
    </div>
    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
	  {{> "systems/twilight2000v4/templates/actor/part/weapon-list.hbs" this}}
      
    {{> "systems/twilight2000v4/templates/actor/part/armor-list.hbs" this}}
      
    {{> "systems/twilight2000v4/templates/actor/part/gear-list.hbs" this}}
            
    </div>
  </section>
</form>

