

<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    </div>
  </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    {{#if this.owner}}
    <a class="item" data-tab="stats">Skills</a>
    {{/if}}
  </nav>
  {{!-- Sheet Body --}}
  <section class="sheet-body" style="padding-bottom:50px;">
    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
    {{#if this.owner}}
    {{!-- Skill Tab --}}
    <div class="tab stats" data-group="primary" data-tab="stats">
      <div class="grid-container stat-grid">
        {{#each data.attributes}}
        <div class="grid-item sub-subgrid">
          <div class="grid-item flexcol">
            {{> "systems/twilight2000v4/templates/actor/part/attribute-slot.hbs" this}}
            {{#each this.skills}}
            {{> "systems/twilight2000v4/templates/actor/part/skill-slot.hbs" this attribute=../this.rating}}
            {{/each}}
          </div>
        </div>
        {{/each}}
        
        {{> "systems/twilight2000v4/templates/actor/part/resource-display.hbs" data.hits r_title="Damage" r_loc="data.hits"}}
        
        {{> "systems/twilight2000v4/templates/actor/part/morale-display.hbs" this}}
        
        {{> "systems/twilight2000v4/templates/actor/part/armor-display.hbs" actor}}
        
      </div>
    <div class="flexrow" style="border: 1px solid black;margin-top:3px;padding:3px;">
      <span>
        Carried:{{actor.weight.carried}}/{{actor.weight.max}}
      </span>
      <span>
        Packed:{{actor.weight.packed}}/{{actor.weight.max}}
      </span>
    </div>
    
	  {{> "systems/twilight2000v4/templates/actor/part/weapon-list.hbs" this}}
      
    {{> "systems/twilight2000v4/templates/actor/part/armor-list.hbs" this}}
      
    {{> "systems/twilight2000v4/templates/actor/part/gear-list.hbs" this}}
            
    </div>
    {{/if}}
  </section>
</form>

