

<form class="{{cssClass}} flexcol" autocomplete="off">
  <head>
    <style>
      .sheet-header {
      max-height:100px;
      }
      .grid-item{
      padding:3px;
      }
      
      .stat-grid{
          display: grid;
          grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
          gap: 1px;
          grid-auto-rows: minmax(50px, auto);
          grid-auto-flow: dense;
          border: 1px solid black;
          background-color: black;
        }
        .stat-grid .sub-subgrid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1px;
        grid-auto-rows: minmax(25px, auto);
        grid-auto-flow: dense;
        }
        .stat-grid .grid-item{
        background: url(../ui/parchment.jpg) repeat;
        }
        .stat-grid .sub-subgrid .grid-item{
        border: 1px none grey;
        }
        .stat-grid .sub-subgrid input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="time"]{
        background: rgba(0,0,0,0.05);
        border: 1px solid #7a7971;
        }
      
      
      .weapon-grid {
        display: grid;
        grid-template-columns: 4fr repeat(12, 1fr);
        gap: 1px;
        grid-auto-rows: minmax(25px, auto);
        border: 1px solid black;
        background-color: black;
        overflow-x:scroll;
      }
      .weapon-grid .grid-item{
        background: url(../ui/parchment.jpg) repeat;
      }
    </style>
  </head>
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    </div>
  </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="stats">Stats</a>
    <a class="item" data-tab="items">Cargo</a>
  </nav>
  {{!-- Sheet Body --}}
  <section class="sheet-body" style="padding-bottom:50px;">
    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
    <div class="tab stats" data-group="primary" data-tab="stats">
    
      <div class="grid-container stat-grid">
        
        <div class="grid-item sub-subgrid" >
          <h4 class="item-name">Full Name</h4>
          <input name="data.full_name" type="text" value="{{data.full_name}}"/>
        </div>
        
        <div class="grid-item sub-subgrid" >
          <h4 class="item-name">Type</h4>
          <input name="data.type" type="text" value="{{data.type}}"/>
        </div>
        
        <div class="grid-item flexcol" >
          <label class="grid-item" >Reliability</label>
          <div class="flexrow flex-center">
            <select name="data.attributes.rel.value">
              {{#select data.attributes.rel.value}}
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="F">F</option>
                {{/select}}
            </select>
            <span class="sep"> / </span> 
            <select name="data.attributes.rel.max">
              {{#select data.attributes.rel.max}}
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="F">F</option>
                {{/select}}
            </select>
          </div>
        </div>
        
        <div class="grid-item flexcol" >
          <label class="grid-item" >Combat Speed</label>
          <div   class="flexrow flex-center">
            <input name="data.combat_speed.road" type="number" value="{{data.combat_speed.road}}"/>
            <span class="sep"> / </span> 
            <input name="data.combat_speed.offroad" type="number" value="{{data.combat_speed.offroad}}"/>
            <input name="data.combat_speed.type" type="text" value="{{data.combat_speed.type}}"/>    
          </div>        
        </div>
        
        <div class="grid-item flexcol" >
          <label class="grid-item" >Travel Speed</label>
          <div   class="flexrow flex-center">
            <input name="data.travel_speed.road" type="number" value="{{data.travel_speed.road}}"/>
            <span class="sep"> / </span> 
            <input name="data.travel_speed.offroad" type="number" value="{{data.travel_speed.offroad}}"/>
            <input name="data.travel_speed.type" type="text" value="{{data.travel_speed.type}}"/>    
          </div>        
        </div>
        
        <div class="grid-item flexcol" >
          <label class="grid-item" >Armor</label>
          <div   class="flexrow flex-center">
            <span> F: </span> 
            <input name="data.armor.front" type="number" value="{{data.armor.front}}"/>
            <span> S: </span> 
            <input name="data.armor.side" type="number" value="{{data.armor.side}}"/>
            <span> R: </span> 
            <input name="data.armor.rear" type="number" value="{{data.armor.rear}}"/>
          </div>        
        </div>
        
        <div class="grid-item flexcol" >
          <label class="grid-item" >Fuel Tank</label>
          <div class="flexrow flex-center">
            <input name="data.fuel.value" type="number" value="{{data.fuel.value}}"/>
            <span class="sep"> / </span> 
            <input name="data.fuel.cap" type="number" value="{{data.fuel.cap}}"/>
          </div>
        </div>
        
        <div class="grid-item sub-subgrid" >
          <h4 class="item-name">Fuel Type</h4>
          <input name="data.fuel.type" type="text" value="{{data.fuel.type}}"/>
        </div>
        
        <div class="grid-item sub-subgrid" >
          <h4 class="item-name">Fuel Cons</h4>
          <input name="data.fuel.cons" type="number" value="{{data.fuel.cons}}"/>
        </div>
        
        <div class="grid-item sub-subgrid" >
          <h4 class="item-name">Crew</h4>
          <input name="data.crew" type="text" value="{{data.crew}}"/>
        </div>
        
        <div class="grid-item sub-subgrid" >
          <h4 class="item-name">Max Cargo</h4>
          <input name="data.cargo_cap" type="number" value="{{data.cargo_cap}}"/>
        </div>
        
        <div class="grid-item sub-subgrid" >
          <h4 class="item-name">Weapon Mounts</h4>
          <input name="data.weapon_mounts" type="text" value="{{data.weapon_mounts}}"/>
        </div>
        
        <div class="grid-item sub-subgrid" >
          <h4 class="item-name">Price</h4>
          <input name="data.price" type="number" value="{{data.price}}"/>
        </div>
        
      </div>
      
	  </div>
    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
	  <ol class="items-list" style="border: 1px solid black;">
      <li class="item flexrow item-header">
        <div class="item-image"></div>
        <div class="item-name">Weapon</div>
        <div class="item-controls">
          <a class="item-control item-create" title="Create item" data-type="weapon"><i class="fas fa-plus"></i> Add item</a>
        </div>
      </li>
      {{#each actor.weapons as |item id|}}
      {{> "systems/twilight2000v4/templates/actor/part/gear-slot.hbs" this}}
      {{/each}}
    </ol>
      
    {{> "systems/twilight2000v4/templates/actor/part/gear-list.hbs" this}}
		
		
      
      
      
      
    </div>
  </section>
</form>

