<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">


      <div class="grid-container stat-grid">

        <div class="grid-item flexcol">
          <label class="grid-item" for="data.type.value">Type</label>
          <select name="data.type.value">
            {{#select data.type.value}}
            <option value="" selected disabled hidden>Type</option>
            <option value="melee">Melee</option>
            <option value="bow_thrown">Bow&#47;Thrown</option>
            <option value="revolver">Revolver</option>
            <option value="pistol">Pistol</option>
            <option value="hunting_rifle">Hunting Rifle</option>
            <option value="shotgun">Shotgun</option>
            <option value="assault_rifle">Assault Rifle</option>
            <option value="sniper_rifle">Sniper Rifle</option>
            <option value="gl">GL</option>
            <option value="lmg">LMG</option>
            <option value="gpmg">GPMG</option>
            <option value="hmg">HMG</option>
            <option value="atrl">ATRL</option>
            <option value="atgm">ATGM</option>
            <option value="battle_rifle">Battle Rifle</option>
            <option value="smg">SMG</option>
            <option value="grenade">Hand Grenade</option>
            <option value="cannon">Cannon</option>
            <option value="mortar">Mortar</option>
            <option value="howitzer">Howitzer</option>
            <option value="mine">Mine</option>
            <option value="none">-</option>
            {{/select}}
          </select>
        </div>

        {{#unless data.ammo.hidden}}
          <div class="grid-item flexcol">
            <label class="grid-item" for="data.ammo.value">Ammo</label>
            <input class="grid-item" style="grid-column-end:span 1;" name="data.ammo.value" type="text"
              value="{{data.ammo.value}}" />
          </div>
        {{/unless}}
        {{#unless data.rel.hidden}}
          <div class="grid-item flexcol">
            <label class="grid-item">Reliability</label>
            <div class="flexrow flex-center">
              <select name="data.rel.value">
                {{#select data.rel.value}}
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="F">F</option>
                <option value="-">-</option>
                {{/select}}
              </select>
              <span class="sep"> / </span>
              <select name="data.rel.max">
                {{#select data.rel.max}}
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="F">F</option>
                <option value="-">-</option>
                {{/select}}
              </select>
            </div>
          </div>
        {{/unless}}
        {{#unless data.rof.hidden}}
          <div class="grid-item flexcol">
            <label class="grid-item" for="data.rof.value">ROF</label>
            <input class="grid-item" style="grid-column-end:span 1;" name="data.rof.value" type="number"
              value="{{data.rof.value}}" />
          </div>
        {{/unless}}
        {{#unless data.damage.hidden}}
          <div class="grid-item flexcol">
            <label class="grid-item" for="data.damage.value">Damage</label>
            <input class="grid-item" style="grid-column-end:span 1;" name="data.damage.value" type="number"
              value="{{data.damage.value}}" />
          </div>
        {{/unless}}
        {{#unless data.crit.hidden}}
          <div class="grid-item flexcol">
            <label class="grid-item" for="data.crit.value">Crit</label>
            <input class="grid-item" style="grid-column-end:span 1;" name="data.crit.value" type="number"
              value="{{data.crit.value}}" />
          </div>
        {{/unless}}
        {{#unless data.blast.hidden}}
          <div class="grid-item flexcol">
            <label class="grid-item" for="data.blast.value">Blast</label>
            <select name="data.blast.value">
              {{#select data.blast.value}}
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
              <option value="-">-</option>
              {{/select}}
            </select>
          </div>
        {{/unless}}
        {{#unless data.range.hidden}}
          <div class="grid-item flexcol">
            <label class="grid-item" for="data.range.value">Range</label>
            <input class="grid-item" style="grid-column-end:span 1;" name="data.range.value" type="number"
              value="{{data.range.value}}" />
          </div>
        {{/unless}}
        {{#unless data.mag.hidden}}
          <div class="grid-item flexcol">
            <label class="grid-item">Magazine</label>
            <div class="flexrow flex-center">
              <input class="grid-item" style="grid-column-end:span 1;" name="data.mag.value" type="number"
                value="{{data.mag.value}}" />
              <span class="sep"> / </span>
              <input class="grid-item" style="grid-column-end:span 1;" name="data.mag.max" type="number"
                value="{{data.mag.max}}" />
            </div>
          </div>
        {{/unless}}
        {{#unless data.armor.hidden}}
          <div class="grid-item flexcol">
            <label class="grid-item" for="data.armor.value">Armor Mod</label>
            <input class="grid-item" style="grid-column-end:span 1;" name="data.armor.value" type="number"
              value="{{data.armor.value}}" />
          </div>
        {{/unless}}
        

        {{> "systems/twilight2000v4/templates/item/blocks/gear-block.hbs" this}}

      </div>
    </div>
  </section>
</form>